In [355]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [356]:
df = pd.read_excel('gdp4countries.xlsx')

In [357]:
df.head(6)

,Series Name,Series Code,Country Name,Country Code,1972 [YR1972],1973 [YR1973],1974 [YR1974],1975 [YR1975],1976 [YR1976],1977 [YR1977],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,GDP (current US$),NY.GDP.MKTP.CD,India,IND,7.146319e+10,8.551527e+10,9.952590e+10,9.847280e+10,1.027172e+11,1.214873e+11,...,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12,2.294798e+12,2.651473e+12,2.702930e+12,2.831552e+12,2.667688e+12,3.176295e+12
1,GDP (current US$),NY.GDP.MKTP.CD,United States,USA,1.279110e+12,1.425376e+12,1.545243e+12,1.684904e+12,1.873412e+12,2.081826e+12,...,1.625397e+13,1.684319e+13,1.755068e+13,1.820602e+13,1.869511e+13,1.947734e+13,2.053306e+13,2.138098e+13,2.106047e+13,2.331508e+13
2,GDP (current US$),NY.GDP.MKTP.CD,Australia,AUS,5.204206e+10,6.383216e+10,8.896389e+10,9.730438e+10,1.050662e+11,1.103510e+11,...,1.546892e+12,1.576380e+12,1.467545e+12,1.350616e+12,1.206535e+12,1.326516e+12,1.428289e+12,1.392228e+12,1.326901e+12,1.552667e+12
3,GDP (current US$),NY.GDP.MKTP.CD,China,CHN,1.136876e+11,1.385443e+11,1.441821e+11,1.634316e+11,1.539405e+11,1.749381e+11,...,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13,1.123328e+13,1.231041e+13,1.389482e+13,1.427994e+13,1.468767e+13,1.773406e+13
4,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,India,IND,-5.533013e-01,3.295521e+00,1.185336e+00,9.149912e+00,1.663104e+00,7.254765e+00,...,5.456389e+00,6.386106e+00,7.410228e+00,7.996254e+00,8.256306e+00,6.795383e+00,6.453851e+00,3.737919e+00,-6.596081e+00,8.681229e+00
5,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,United States,USA,5.258907e+00,5.645723e+00,-5.405517e-01,-2.054561e-01,5.388139e+00,4.624153e+00,...,2.280688e+00,1.841875e+00,2.287776e+00,2.706370e+00,1.667472e+00,2.241921e+00,2.945385e+00,2.294439e+00,-2.767803e+00,5.945485e+00

In [358]:
print(df.columns)

Index(['Series Name', 'Series Code', 'Country Name', 'Country Code',
       '1972 [YR1972]', '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]',
       '1976 [YR1976]', '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]',
       '1980 [YR1980]', '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]',
       '1984 [YR1984]', '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]',
       '1988 [YR1988]', '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]',
       '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]',
       '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]',
       '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]',
       '2020 [YR2020]', '2021 [YR2021]'],
      dtype='object')

In [359]:
import re

def rename_year_columns(df):
   
    # Define a regular expression pattern to match year names in column names
    pattern = r"\[YR(\d{4})\]"
    
    # Loop over all column names and rename any that match the pattern
    for col in df.columns:
        match = re.search(pattern, col)
        if match:
            year = match.group(1)
            new_name = year[-4:]
            df.rename(columns={col: new_name}, inplace=True)
    
    return df

In [360]:
# Rename the year columns using the function
df = rename_year_columns(df)
df = df.drop('Series Code', axis=1)

In [361]:
df.head(8)

,Series Name,Country Name,Country Code,1972,1973,1974,1975,1976,1977,1978,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,GDP (current US$),India,IND,7.146319e+10,8.551527e+10,9.952590e+10,9.847280e+10,1.027172e+11,1.214873e+11,1.373003e+11,...,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12,2.294798e+12,2.651473e+12,2.702930e+12,2.831552e+12,2.667688e+12,3.176295e+12
1,GDP (current US$),United States,USA,1.279110e+12,1.425376e+12,1.545243e+12,1.684904e+12,1.873412e+12,2.081826e+12,2.351599e+12,...,1.625397e+13,1.684319e+13,1.755068e+13,1.820602e+13,1.869511e+13,1.947734e+13,2.053306e+13,2.138098e+13,2.106047e+13,2.331508e+13
2,GDP (current US$),Australia,AUS,5.204206e+10,6.383216e+10,8.896389e+10,9.730438e+10,1.050662e+11,1.103510e+11,1.184954e+11,...,1.546892e+12,1.576380e+12,1.467545e+12,1.350616e+12,1.206535e+12,1.326516e+12,1.428289e+12,1.392228e+12,1.326901e+12,1.552667e+12
3,GDP (current US$),China,CHN,1.136876e+11,1.385443e+11,1.441821e+11,1.634316e+11,1.539405e+11,1.749381e+11,1.495408e+11,...,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13,1.123328e+13,1.231041e+13,1.389482e+13,1.427994e+13,1.468767e+13,1.773406e+13
4,GDP growth (annual %),India,IND,-5.533013e-01,3.295521e+00,1.185336e+00,9.149912e+00,1.663104e+00,7.254765e+00,5.712532e+00,...,5.456389e+00,6.386106e+00,7.410228e+00,7.996254e+00,8.256306e+00,6.795383e+00,6.453851e+00,3.737919e+00,-6.596081e+00,8.681229e+00
5,GDP growth (annual %),United States,USA,5.258907e+00,5.645723e+00,-5.405517e-01,-2.054561e-01,5.388139e+00,4.624153e+00,5.535305e+00,...,2.280688e+00,1.841875e+00,2.287776e+00,2.706370e+00,1.667472e+00,2.241921e+00,2.945385e+00,2.294439e+00,-2.767803e+00,5.945485e+00
6,GDP growth (annual %),Australia,AUS,3.910284e+00,2.619376e+00,4.106973e+00,1.336310e+00,2.588771e+00,3.594833e+00,8.931497e-01,...,3.902008e+00,2.578754e+00,2.579017e+00,2.152736e+00,2.730548e+00,2.282184e+00,2.883045e+00,2.171396e+00,-5.088534e-02,2.236212e+00
7,GDP growth (annual %),China,CHN,3.810000e+00,7.760000e+00,2.310000e+00,8.720000e+00,-1.570000e+00,7.570000e+00,1.132598e+01,...,7.863736e+00,7.766150e+00,7.425764e+00,7.041329e+00,6.848762e+00,6.947201e+00,6.749774e+00,5.950501e+00,2.239702e+00,8.109793e+00

In [367]:

GDP = df.iloc[:4, :]
GDPgrowth = df.iloc[4:8, :]

In [368]:
GDP = GDP.drop(['Series Name','Country Code'], axis=1)
GDP = GDP.set_index('Country Name')
GDP = GDP.T
GDP.index.name = 'Year'
GDP = GDP.reset_index()

GDP.head()

Country Name  Year         India  United States     Australia         China
0             1972  7.146319e+10   1.279110e+12  5.204206e+10  1.136876e+11
1             1973  8.551527e+10   1.425376e+12  6.383216e+10  1.385443e+11
2             1974  9.952590e+10   1.545243e+12  8.896389e+10  1.441821e+11
3             1975  9.847280e+10   1.684904e+12  9.730438e+10  1.634316e+11
4             1976  1.027172e+11   1.873412e+12  1.050662e+11  1.539405e+11

In [301]:
index = ['India', 'United States', 'Australia', 'China']
GDP.index.name = 'Country Name'

# Rename the index
GDP = GDP.rename_axis('New Name')

In [302]:
GDP

,0,1,2,3
New Name,,,,
Country Name,India,United States,Australia,China
1972,71463193831.009232,1279110000000.0,52042056074.766357,113687586299.05127
1973,85515269585.399963,1425376000000.0,63832158872.517616,138544284708.957458
1974,99525899116.05397,1545243000000.0,88963890935.887985,144182133387.721802
1975,98472796456.884003,1684904000000.0,97304383449.405991,163431551779.761261
1976,102717164466.397415,1873412000000.0,105066179251.22905,153940455341.506134
1977,121487322475.912415,2081826000000.0,110350997935.306259,174938098826.569061
1978,137300295313.299683,2351599000000.0,118495375592.14978,149540752829.26828
1979,152991653793.769501,2627333000000.0,134898330114.733612,178280594413.043488
1980,186325345086.661255,2857307000000.0,149984401114.206146,191149211575.0
1981,193490610029.789246,3207041000000.0,176891907581.562775,195866382432.539673
1982,200715145363.148224,3343789000000.0,194037294494.096893,205089699858.778595
1983,218262273406.968536,3634038000000.0,177267197005.1474,230686747153.256714
1984,212158234167.311646,4037613000000.0,193519289983.698578,259946510957.142883
1985,232511877841.698425,4338979000000.0,180633581345.40155,309488028132.653076
1986,248985994040.589691,4579631000000.0,182472020145.495239,300758100107.246338
1987,279033584092.22345,4855215000000.0,189487824245.632599,272972974764.574005
1988,296588994812.353638,5236438000000.0,236153958090.803253,312353631207.818909
1989,296042354984.876099,5641580000000.0,299877860109.111633,347768051311.740845
1990,320979026420.035095,5963144000000.0,311433628318.584045,360857912565.965576
1991,270105341879.226379,6158129000000.0,325986971195.353577,383373318083.623657
1992,288208430383.964417,6520327000000.0,325531800353.764526,426915712711.145996
1993,279296022987.919373,6858559000000.0,312138139404.159607,444731282436.762146
1994,327275583539.558655,7287236000000.0,322809408509.166382,564324670005.917358
1995,360281952716.796814,7639749000000.0,368140778140.778137,734547898220.508423
1996,392897054348.071045,8073122000000.0,401311077389.984802,863746717503.788696
1997,415867753863.874329,8577554457000.0,435614337141.962708,961603952951.820312
1998,421351477504.742981,9062818202000.0,399660855999.457397,1029043097554.082031
1999,458820417337.807068,9631174489000.0,389389647825.541992,1093997267271.058105
2000,468394937262.369934,10250947997000.0,415851284305.721252,1211346869605.237793
2001,485441014538.638245,10581929774000.0,379358162498.658386,1339395718865.302979
2002,514937948870.080383,10929112955000.0,395580786940.142334,1470550015081.551514
2003,607699285433.871948,11456442041000.0,467497961560.861938,1660287965662.679932
2004,709148514804.659424,12217193198000.0,614326362213.686157,1955347004963.270996
2005,820381595512.901611,13039199193000.0,695328522026.762817,2285965892360.543457
2006,940259888792.141357,13815586948000.0,747906558849.955078,2752131773355.155762
2007,1216735441524.861816,14474226905000.0,854427259166.208618,3550342737010.844727
2008,1198895582137.514648,14769857911000.0,1055642793196.060913,4594307032660.786133
2009,1341886602798.685547,14478064934000.0,928626859078.19165,5101703073086.043945
2010,1675615335600.563721,15048964444000.0,1148610059015.238281,6087163874512.208008
2011,1823049927772.046143,15599728123000.0,1398405797101.449219,7551500124203.358398
2012,1827637859506.251465,16253972230000.0,1546892142709.837158,8532229986993.647461
2013,1856722121394.418945,16843190993000.0,1576380424746.075684,9570406235659.640625
2014,2039127446299.302002,17550680174000.0,1467545212521.802979,10475682920594.458984
2015,2103587813812.749512,18206020741000.0,1350615691821.282959,11061553079876.355469
2016,2294797980509.005371,18695110842000.0,1206535157956.034424,11233276536737.150391
2017,2651472946375.046875,19477336549000.0,1326516328531.563477,12310409370892.761719
2018,2702929718960.455078,20533057312000.0,1428288504767.072266,13894817549374.244141
2019,2831552222519.993652,21380976119000.0,1392227864397.081787,14279937500606.507812
2020,2667687951796.497559,21060473613000.0,1326901059123.206787,14687673892881.984375
2021,3176295065497.242188,23315080560000.0,1552667363236.062256,17734062645371.375

In [369]:
#.rename(columns={0: 'Column 1', 1: 'Column 2', 2: 'Column 3'})

In [370]:
GDPgrowth = GDPgrowth.reset_index(drop=True)

In [371]:
GDPgrowth = GDPgrowth.drop(['Series Name','Country Code'], axis=1)
GDPgrowth = GDPgrowth.set_index('Country Name')
GDPgrowth

,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Name,,,,,,,,,,,,,,,,,,,,,
India,-0.553301,3.295521,1.185336,9.149912,1.663104,7.254765,5.712532,-5.238183,6.735822,6.006204,...,5.456389,6.386106,7.410228,7.996254,8.256306,6.795383,6.453851,3.737919,-6.596081,8.681229
United States,5.258907,5.645723,-0.540552,-0.205456,5.388139,4.624153,5.535305,3.166145,-0.256750,2.537719,...,2.280688,1.841875,2.287776,2.706370,1.667472,2.241921,2.945385,2.294439,-2.767803,5.945485
Australia,3.910284,2.619376,4.106973,1.336310,2.588771,3.594833,0.893150,4.050027,3.035589,3.339495,...,3.902008,2.578754,2.579017,2.152736,2.730548,2.282184,2.883045,2.171396,-0.050885,2.236212
China,3.810000,7.760000,2.310000,8.720000,-1.570000,7.570000,11.325978,7.591325,7.834145,5.112761,...,7.863736,7.766150,7.425764,7.041329,6.848762,6.947201,6.749774,5.950501,2.239702,8.109793

In [372]:
GDPgrowth = GDPgrowth.transpose()
GDPgrowth = GDPgrowth.reset_index(drop=True)
#GDPgrowth.columns = ['Year', 'India', 'United States', 'Australia','China']

GDPgrowth

Country Name     India  United States  Australia      China
0            -0.553301       5.258907   3.910284   3.810000
1             3.295521       5.645723   2.619376   7.760000
2             1.185336      -0.540552   4.106973   2.310000
3             9.149912      -0.205456   1.336310   8.720000
4             1.663104       5.388139   2.588771  -1.570000
5             7.254765       4.624153   3.594833   7.570000
6             5.712532       5.535305   0.893150  11.325978
7            -5.238183       3.166145   4.050027   7.591325
8             6.735822      -0.256750   3.035589   7.834145
9             6.006204       2.537719   3.339495   5.112761
10            3.475733      -1.802887   3.324852   9.017114
11            7.288893       4.583913  -2.224542  10.770203
12            3.820738       7.236633   4.591739  15.191540
13            5.254299       4.169656   5.278244  13.430678
14            4.776564       3.462646   3.966274   8.949962
15            3.965356       3.459252   2.559258  11.657428
16            9.627783       4.177061   5.757341  11.222595
17            5.947343       3.672648   3.875426   4.206334
18            5.533455       1.885965   3.576486   3.920251
19            1.056831      -0.108265  -0.383072   9.262786
20            5.482396       3.522441   0.428620  14.224530
21            4.750776       2.751781   4.047425  13.883729
22            6.658924       4.028793   3.980923  13.036807
23            7.574492       2.684217   3.887106  10.953954
24            7.549522       3.772565   3.856841   9.922557
25            4.049821       4.447175   3.912835   9.236780
26            6.184416       4.481394   4.613357   7.845952
27            8.845756       4.794499   4.956325   7.661652
28            3.840991       4.077159   3.901171   8.490093
29            4.823966       0.954339   2.041417   8.335733
30            3.803975       1.695943   3.993590   9.133631
31            7.860381       2.796209   3.111398  10.038030
32            7.922937       3.852553   4.216633  10.113621
33            7.923431       3.483220   3.153753  11.394592
34            8.060733       2.782811   2.740636  12.720956
35            7.660815       2.010508   3.777917  14.230861
36            3.086698       0.122188   3.568270   9.650679
37            7.861889      -2.599888   1.870487   9.398726
38            8.497585       2.708857   2.206566  10.635871
39            5.241315       1.549895   2.391385   9.550832
40            5.456389       2.280688   3.902008   7.863736
41            6.386106       1.841875   2.578754   7.766150
42            7.410228       2.287776   2.579017   7.425764
43            7.996254       2.706370   2.152736   7.041329
44            8.256306       1.667472   2.730548   6.848762
45            6.795383       2.241921   2.282184   6.947201
46            6.453851       2.945385   2.883045   6.749774
47            3.737919       2.294439   2.171396   5.950501
48           -6.596081      -2.767803  -0.050885   2.239702
49            8.681229       5.945485   2.236212   8.109793